header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Обеспечивает, что шапка будет сверху всех элементов */
    padding: 10px 0;
    background-color: white; /* Если шапка на прозрачном фоне */
}
